@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap");

html {
  height: 100%;
}

body {
  font-family: "Noto Sans TC";
  width: 100%;
  height: 100%;
  
  margin: 0;
  padding: 0;
  
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

:focus-visible {
  outline: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

header {
  margin-top: 16px;
  margin-bottom: 16px;

  font-size: 2.2rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  width: 100%;
  text-align: center;
}

input {
  color: #9F9A91;
  font-size: 16px;
  line-height: 23px;
  padding: 12px 16px;
  border-radius: 6px;
  border: 0;
  background: #fff;

  -webkit-box-shadow: 0px 0px 15px 0px #00000026;
          box-shadow: 0px 0px 15px 0px #00000026;
}


form, .todo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 600px;
  margin: 0 auto;
  position: relative;
}

form {
  margin-bottom: 20px;
}

.todo-input {
  color: #9F9A91;
  font-size: 16px;
  line-height: 23px;
  padding: 12px 16px;
  border-radius: 6px;
  border: 0;
  background: #fff;
  width: 400px;
  margin-right: 1.5rem;
}

.todo-button {
  padding: 6px 12px;
  background: transparent;
  border: 0;
  cursor: pointer;

  position: absolute;
  right: 17%;
  transform: translate(-50%, 0);
  z-index: 1;

}
.todo-button svg {
  width: 24px;
  height: 24px;
  padding: 4px 12px;
  background: transparent;
  border: 0;
  color: #333;
}

.select select{
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ddd;
  list-style: none;
  color: black;
  width: 100%;
  margin: 0;
  padding: 15px;
  background-color: #fff;
}

.todo-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;

  margin: 0;
  padding: 0;
}

.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.todo .todo-item {
  color: #9F9A91;
  width: 400px;
  font-size: 16px;
  line-height: 23px;
  min-height: 23px;
  height: auto;
  padding: 12px 16px;
  border-radius: 6px;
  border: 0;
  background: #fff;

  color: #333;
  font-size: 24px;
}

.todo .todo-item.completed {
  text-decoration: line-through;
  opacity: 0.4;
}

.complete-btn, .trash-btn {
  padding: 4px;
  background: transparent;
  border: 0;
  cursor: pointer;
  
}
.complete-btn svg, .trash-btn svg{
  width: 24px;
  height: 24px;
  padding: 4px 12px;
  background: transparent;
  border: 0;
  color: #fff;
}
.complete-btn {
  background: #4dd94d;
}
.trash-btn {
  background: #ce4b4b;
  border-radius: 6px;
}